/* View Collection 
    Transition Effects
*/
.view-collection {
    position: absolute;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    animation-name: slide-in;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

/* Collection Header */

.collection-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/hero/medium.jpg") no-repeat center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-title {
    font-size: 4.5rem;
    color: #fff;
    margin-bottom: 15px;
}

/* Collection Content */