/* Hero Views */

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35)),
    url("../assets/hero/medium.jpg") no-repeat center;
}

/* Hero Component */

/* 1080 screen size */
@media screen and (max-width: 1080px) {
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-text {
    font-size: 2.15rem;
  }

  .hero-button {
    font-size: 1.15rem;
  }
}

/* 768 screen size */
@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 2rem;
  }

  .hero-button {
    font-size: 1rem;
    padding: 14px;
  }
}

/* 600 screen size */
@media screen and (max-width: 600px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1.7rem;
  }

  .hero-button {
    font-size: 0.9rem;
    padding: 12.5px;
  }
}

/* 500 screen size */
@media screen and (max-width: 500px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-text {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  .hero-button {
    font-size: 0.85rem;
    padding: 11px;
  }
}
