/* Flip Animation */
@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(-180deg);
    }

    100% {
        transform: perspective(400px) rotateY(0deg);
    }
}

.view-home {
    animation: flip 0.9s ease-in-out;
}

.main-content {
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.main-header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home-button {
    font-size: 1.35rem;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.45s;
}

.home-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

/* DARK MODE */

.main-content.dark-mode {
    background-color: #000;
}

.dark-mode .main-header {
    color: #fff;
}

.dark-mode .home-button {
    color: #fff;
    border: 1px solid #fff;
}

.dark-mode .home-button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/* 1080 screen size */
@media screen and (max-width: 1080px) {
    .main-content {
        padding: 0px 100px;
    }

    .main-header {
        font-size: 2.2rem;
    }

    .home-button {
        font-size: 1.35rem;
        padding: 13.5px 23.5px;
    }
}

/* 768 screen size */
@media screen and (max-width: 768px) {
    .main-content {
        padding: 0px 70px;
    }

    .main-header {
        font-size: 2rem;
    }

    .home-button {
        font-size: 1.2rem;
        padding: 11.5px 21.5px;
    }
}

/* 600 screen size */
@media screen and (max-width: 600px) {
    .main-content {
        padding: 0px 45px;
    }

    .main-header {
        font-size: 1.8rem;
    }

    .home-button {
        font-size: 1.1rem;
        padding: 11px 20px;
    }
}