.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.main-header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home-button {
    font-size: 1.35rem;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.45s;
}

.home-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}