.nav-container {
    height: 10vh;
    padding: 0px 25px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container.dark-mode {
    background-color: #fff;
}